.vscode/**
.vscode-test/**
.github/**
src/**
out-test/**
.gitignore
.eslintrc.json
tsconfig.json
tsconfig.test.json
CONTRIBUTING.md
**/*.map
**/*.ts
!**/*.d.ts
node_modules/**
docs/assets/*.svg
docs/assets/icon-512.png
resources/brand-icon.svg
out/example-file-tests/**
out/test/**
